<!DOCTYPE html >
<html lang="en" xmlns:layout=xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Demo Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark bg-dark pb-4 pt-4">
  <a class="navbar-brand" href="/login">Third Party Application</a>
</nav>
<br>
<main class="container mt-5">
  <div class="jumbotron shadow-sm">
    <h1 class="display-4 font-weight-bold">This application is to simulate third party software</h1>
    <section layout:fragment="content">
      <p class="lead mt-4">This Dummy Application was created to simulate the interaction between
        third party software and Companies House</p>
      <hr class="my-4">
    </section>
  </div>

</main>
</div>
<footer class="group js-footer" id="footer" role="contentinfo">
  <script src="/webjars/popper.js/1.14.6/popper.min.js"></script>
  <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
  <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</footer>
</body>
</html>

