<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <title th:text="Result"></title>
</head>

<body>
    <section layout:fragment="content">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th style="width: 15%" scope="col">User Id</th>
                    <th style="width: 15%" scope="col">Email</th>
                    <th style="width: 15%" scope="col">Forename</th>
                    <th style="width: 15%" scope="col">Surname</th>
                    <th style="width: 10%" scope="col">Locale</th>
                    <th style="width: 20%" scope="col">Scope</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.forename}"></td>
                    <td th:text="${user.surname}"></td>
                    <td th:text="${user.locale}"></td>
                    <td th:text="${user.scope}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th style="width: 50%" scope="col">Field name</th>
                <th style="width: 50%" scope="col">Field Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Company Name</td>
                <td th:text="${companyResult.companyName}"></td>
            </tr>
            <tr>
                <td>Company Number</td>
                <td th:text="${companyResult.companyNumber}"></td>
            </tr>
            <tr>
                <td>Company Status</td>
                <td th:text="${companyResult.companyStatus}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</body>
</html>

