<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <title th:text="Login"></title>
</head>

<body>
<section layout:fragment="content">
    <br>
    <div class="container mt-5">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-6">Proof of concept application</h1>
                <p class="lead">Enter the requested scopes you wish to obtain.</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">

        <form role="form" method="GET" action="/loginRequestedScope">
            <div th:if="${errors!=null}" class="alert alert-danger col-12" role="alert">
                <h4 class="alert-heading">Invalid Scope</h4>
                <hr>
                <table>
                    <tr th:each="error: ${errors}">
                        <td th:text="${error.defaultMessage}" />
                    </tr>
                </table>
            </div>
            <div class="form-group col-lg-12 pl-0">
                <label for="requestedScope" class="font-weight-bold col-form-label-lg">Requested Scope</label>
                <textarea class="form-control form-control-lg" name="requestedScope" id="requestedScope"></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-success mt-3 mb-4">Continue</button>
        </form>
    </div>


</section>
</body>
</html>

