<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <title th:text="Login"></title>
</head>

<body>
    <section layout:fragment="content">
        <br>
        <p class="lead mt-4">Sign in using the Companies House login system and authorise use of scope</p>
        <hr class="my-4">
        <br>
        <br>
        <a class="btn btn-success btn-lg mb-2 mb-md-0 mr-md-4" href="/attemptLogin" role="button">Companies House Sign In</a>
        <br>
        <br>
        <a class="btn btn-success btn-lg" href="/loginViaCompanyNumber" role="button">Company Number Sign In</a>
    </section>
</body>
</html>

