<!DOCTYPE html >
<html lang="en" layout:decorate="~{base.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="Login"></title>
</head>

<body>
<section layout:fragment="content">
  <br>
  <div class="container mt-5">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-6">Proof of concept application</h1>
        <p class="lead">Enter the requested scopes you wish to obtain. To file with Companies House you must also obtain the Read User Profile scope.
          Please request this alongside any of functional scopes you wish to obtain.</p>
        <p class="lead mt-4">When using multiple scopes please space separate them</p>
      </div>
    </div>
  </div>
  <div class="container mt-5">

    <form action="/loginRequestedScope" method="GET" role="form">
      <div class="alert alert-danger col-12" role="alert" th:if="${errors!=null}">
        <h4 class="alert-heading">Invalid Scope</h4>
        <hr>
        <table>
          <tr th:each="error: ${errors}">
            <td th:text="${error.defaultMessage}"/>
          </tr>
        </table>
      </div>
      <div class="form-group col-lg-12 pl-0">
        <label class="font-weight-bold col-form-label-lg" for="requestedScope">Requested
          Scope</label>
        <textarea class="form-control form-control-lg" id="requestedScope"
                  name="requestedScope">https://identity.company-information.service.gov.uk/user/profile.read</textarea>
      </div>
      <button class="btn btn-lg btn-success mt-3 mb-4" type="submit">Continue</button>
    </form>
  </div>


</section>
</body>
</html>

