<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <title th:text="Result"></title>
</head>

<body>
    <section layout:fragment="content">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th style="width: 15%" scope="col">User Id</th>
                <th style="width: 15%" scope="col">User email</th>
                <th style="width: 15%" scope="col">User Forename</th>
                <th style="width: 15%" scope="col">User Surname</th>
                <th style="width: 15%" scope="col">User Locale</th>
                <th style="width: 15%" scope="col">User Scope</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.forename}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.locale}"></td>
                <td th:text="${user.scope}"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <h1>You have exceeded your rate limit, please try again later</h1>
    </section>
</body>
</html>

